*{margin: 0;padding: 0;}
a{text-decoration-line: none;color: black;}
article{width: 1220px;height: 370px;margin: auto; margin-top: 30px;margin-bottom: 30px; display: grid;grid-template-rows: 370px;grid-template-columns: 40% 60%;justify-items: center;align-items: center;}
.register{display: grid;grid-template-columns: 488px;height: 370px;grid-template-rows: repeat(7,52px); border-right: 1px solid grey;}
.nor{margin: auto;}
.welcome{font-size: 25px;margin: auto;}
.register span{ font-size: 18px;font-weight: 800;}
input{width: 160px;height: 30px;align-items: center;}
.simple{margin-left: 120px;padding-top: 8px;}
.click{width: 120px;height: 28px;background-color: rgb(204, 204, 204);float: left;padding-top: 5px;}
.click a{color: white;}
.read{margin: auto;}
.read a{color: rgb(0, 115, 189);}
.post{margin: auto; width: 170px;height: 30px;background-color: rgb(191, 0, 0);padding-top: 5px;}
.post a{margin: auto; color: white;padding-left: 50px;}
.sign{background-color: rgb(191, 0, 0);float: left;height: 30px;padding-top: 5px;margin-top: -5px;}
.sign a{color: white;padding: 5px 15px;}


